<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <img src="{{ "logo/standard_logo_placeholder.png" }}" class="img-responsive center-block" alt="CityGML">
      </div>
      <div class="col-md-4">
        <a href="http://www.opengeospatial.org"> <img src="{{ "img/OGC_Logo_2D_Blue_x_0_0.png" }}" class="img-responsive center-block" alt="OGC"></a>
      </div>
    </div>
    <!-- <h3 class="text-center">help, documentation, tips, example datasets, tutorials</h3> -->
    <br>
    <p class="text-center">This standard is ....</p>
    <div class="text-center">
      <a href="#" class="btn btn-primary btn-lg">Download documentation (v2.0)</a>
      <a href="#" class="btn btn-primary btn-lg">Download schemas (v2.0)</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Latest news <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i></a></h4>
            </div>
            <div class="panel-body">
              <div class="firstpost">
                  <!--<a href="{{ site.data.news[0].url | prepend: site.baseurl }}">{{ site.data.news[0].title }}</a>-->
                  <a href="{{ site.data.news[0].url }}">{{ site.data.news[0].title }}</a>
                  <br><span>{{ site.data.news[0].date | date_to_string }}</span>
                  <br />{{ site.data.news[0].excerpt | strip_html }}
                  <hr />
              </div>
              <ul class="posts">
                {% for post in site.data.news offset:1 limit:5 %}
                  <!--<li><span>{{ post.date | date_to_string }}</span> <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>-->
                  <li><span>{{ post.date | date_to_string }}</span> <a class="post-link" href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
      </div>
    <div class="col-md-8">
      <div class="row">
        {% for i in site.data.covertopics %}
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail text-center">
            <a href="{{ i.link | prepend: site.baseurl }}">
            <i class="fa {{ i.icon }} fa-5x" aria-hidden="true"></i>
            <div class="caption">
              <h4>{{ i.name }}</h4>
            </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
